<!DOCTYPE html>
      <meta charset="UTF-8">
    <title>Templates is working</title>
</head>
<body>
<h1>
Welcome to the text analyzer.Enter you text.
    </h1>
<form action='/analyze' method='get'>
    <textarea name='text' style="margin: 0px; width: 592px; height: 44px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuation<br>
    <input type="checkbox" name="uppercase">Uppercase<br>
    <input type="checkbox" name="charcount">CharacterCount<br>
    <input type="checkbox" name="wordcount">WordCount<br>
    <br>
    <button type="submit">AnalyzeText</button>

</form>
</body>
</html>